$nav-blue: #2c9999;
$site-brown: #794400;

html body
{
	.main-content
	{
		padding-top: 30px;
		min-height: 500px;
	}

	.row
	{
		max-width: 80em;
	}

	p, h1, h2, div
	{
		font-family: arial;
		font-size: 13px;
	}

	h1
	{
		font-size: 1.6em;
		color: $nav-blue;
	}

	font-family: arial;
    font-size: 13px;
    min-height: 800px;
    background: #F5F5F5;

    nav.top-bar
    {
    	background: $nav-blue;
    	padding-left: 30%;    	

    	@media (max-width: 768px) {
		    padding-left: 0;
		} 

		.name
		{
			background: $nav-blue;
		}

		.menu-icon span
		{
			color: #ffffff;
		}
    }

    .top-bar-section ul li 
    {
    	a:not(.button)
    	{
    		font-size: 1em;
    		background: $nav-blue;
    	}

    	&.active a
    	{
    		background: #ffffff;
    		color: $nav-blue;
    	}
    }

    .main-content
    {
    	background: #ffffff;
    }
}

body.index .main-content
{
	.image-container
	{
		text-align: center;
		margin: 30px 0;
	}

	.description
	{
		width: 70%;
		float: left;
		padding-right: 2%;
		h1
		{
			padding-right: 2%;
		}
	}
	
	.ceo
	{
		width: 30%;
		float: left;
	}
}

body.projects 
{
	#projects
	{
		.headings
		{
			text-align: center;
			overflow: hidden;			

			h2
			{
				margin-bottom: 50px;
				a
				{
					font-size: 1.3em;
					cursor: pointer;
					color: $nav-blue;

					&.hover, &.selected
					{
						color: $site-brown;
					}	

					
				}
			
				float: left;				
				width: 25%;	

				&.selected
				{
					a
					{
						color: $site-brown;
					}
				}		
			}
		}
		
		.select-project
		{
			text-align: center;
			margin: 0 0 20% 5%;			

			p
			{
				opacity: 0.4;
				font-size: 2em;
			}			

			.images img
			{
				opacity: 0.4;
				margin-top: 20px;
				width:25%;
				cursor: pointer;
			}
		}

		img
		{
			width: 33%;
		}

		.project-content
		{
			display: none;
			text-align: center;

			h3
			{
				color: $site-brown;
			}

			.description
			{
				text-align: left;
			}

			ul
			{
				padding-left: 5%;
			}
		}
	}	
}

body.testamonials
{
	h1
	{
		margin-bottom: 30px;
	}

	i
	{
		margin-bottom: 30px;
		display: block;
		font-weight: bold;
	}
}

body.about
{
	h2
	{
		font-size: 1.4em;
		color: $site-brown;
		margin: 20px 0;
	}
}

body.contact
{
	.card
	{
		margin-bottom: 20px;
	}
}
