html body {
  font-family: arial;
  font-size: 13px;
  min-height: 800px;
  background: #F5F5F5; }
  html body .main-content {
    padding-top: 30px;
    min-height: 500px; }
  html body .row {
    max-width: 80em; }
  html body p, html body h1, html body h2, html body div {
    font-family: arial;
    font-size: 13px; }
  html body h1 {
    font-size: 1.8em;
    color: #794400; }
  html body nav.top-bar {
    background: #2c9999;
    padding-left: 30%; }
    @media (max-width: 768px) {
      html body nav.top-bar {
        padding-left: 0; } }
    html body nav.top-bar .name {
      background: #2c9999; }
    html body nav.top-bar .menu-icon span {
      color: #ffffff; }
  html body .top-bar-section ul li a:not(.button) {
    font-size: 1em;
    background: #2c9999; }
  html body .top-bar-section ul li.active a {
    background: #ffffff;
    color: #2c9999; }
  html body .main-content {
    background: #ffffff; }

body.index .main-content .image-container {
  text-align: center;
  margin: 30px 0; }
body.index .main-content .description {
  width: 70%;
  float: left;
  padding-right: 2%; }
  body.index .main-content .description h1 {
    padding-right: 2%; }
body.index .main-content .ceo {
  width: 30%;
  float: left; }

body.projects #projects .headings {
  text-align: center;
  overflow: hidden; }
  body.projects #projects .headings h2 {
    margin-bottom: 50px;
    float: left;
    width: 20%; }
    body.projects #projects .headings h2 a {
      font-size: 1.3em;
      cursor: pointer;
      color: #2c9999; }
      body.projects #projects .headings h2 a.hover, body.projects #projects .headings h2 a.selected {
        color: #794400; }
    body.projects #projects .headings h2.selected a {
      color: #794400; }
body.projects #projects .select-project {
  text-align: center;
  margin: 0 0 20% 5%; }
  body.projects #projects .select-project p {
    opacity: 0.4;
    font-size: 2em; }
  body.projects #projects .select-project .images img {
    opacity: 0.4;
    margin-top: 20px;
    width: 20%;
    cursor: pointer; }
body.projects #projects img {
  width: 33%; }
body.projects #projects .project-content {
  display: none;
  text-align: center; }
  body.projects #projects .project-content h3 {
    color: #794400; }
  body.projects #projects .project-content .description {
    text-align: left; }
  body.projects #projects .project-content ul {
    padding-left: 5%; }

body.testamonials h1 {
  margin-bottom: 30px; }
body.testamonials i {
  margin-bottom: 30px;
  display: block;
  font-weight: bold; }

body.about h2 {
  font-size: 1.4em;
  color: #794400;
  margin: 20px 0; }

body.contact .card {
  margin-bottom: 20px; }
