body {
  font-size: 13px;
  min-height: 800px; }
  body nav.top-bar {
    background: #2c9999;
    padding-left: 25%; }
  body .top-bar-section ul li a:not(.button) {
    font-size: 1em;
    background: #2c9999; }
  body .top-bar-section ul li.active a {
    background: #ffffff;
    color: #2c9999; }
  body .content {
    background: #ffffff; }
  body #card-container {
    margin-top: 10%; }
